/* General styles */
html { 
    box-sizing: border-box; 
    height: 100%;
 }  
 *, 
 *::before   
 *::after { 
   box-sizing: inherit;
 }
 body { 
    height: 100%; 
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 15px; 
    line-height: 18px;  
    color: #434343; 
   }   
   *:focus { 
     outline: 0; 
     box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
   } 
   img { 
     max-width: 100%; 
     /*height: auto;*/
   } 
   